@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --negro-1: #1f1f1f;
    --negro-2: #1d1d20;
    --blue: #081B29;
    --nuovo: #151D20;
    --white: #CBC7B7;
    --white-hover: #c6ab53;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: var(--negro-2);
    overflow-x: hidden;
}
section{
    padding: 1em;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    background-color: var(--negro-2);
    z-index: 2;
}
.title{
    text-align: center;
    font-size: 28px;
    font-weight: 200;
    color: var(--white);
    margin: 1em 0;
}
.sub-title{
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: var(--white);
    margin: 2em 0 1em 0;
}
.text{
    display: inline-block;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    color: var(--white);
    margin: 1em 0 2em;
}
.logo-container{
    width: 5rem;
    margin: 1em;
}
.logo-container img{
    width: 100%;
    vertical-align: middle;
}
.bars-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 5em;
    height: 100%;
    padding: 1em;
    cursor: pointer;
    z-index: 5;
}
.lines{
    display: block;
    width: 100%;
    height: 2px;
    align-self: flex-end;
    border-radius: 15px;
    background-color: var(--white);
    opacity: 1;
    transition: transform .5s ease-in-out;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards
}
.line2-bar{
    width: 75%;
}
.line3-bar{
    width: 50%;
}
.activeLine1{
    animation-name: bar1;
}
.activeLine2{
    opacity: 0;
}
.activeLine3{
    animation-name: bar3;
}
@keyframes bar1{
    25%{
        transform: translateY(.8em);
    }
    100%{
        transform: translateY(.8em) rotate(-405deg);
    }
}
@keyframes bar3{
    25%{
        width: 100%;
        transform: translateY(-.7em);
    }
    100%{
        width: 100%;
        transform: translateY(-.7em) rotate(-315deg);
    }
}
nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--negro-1);
    transform: translateX(100vw);
    transition: transform .6s ease-in-out;
    overflow-x: hidden;
}
.showNav{
    transform: translateX(0vw);
}
.nav-bar{
    width: 100%;
    margin-top: 6em;
}
.nav-item{
    list-style: none;
    margin: 0 0 3em 1em;
}
.nav-link{
    text-decoration: none;
    font-size: 22px;
    color: var(--white);
}
.nav-link .fa-solid{
    width: 1em;
    color: var(--negro-2);
    text-align: center;
    text-shadow: -1px 0 1px var(--white), 
                1px 0 1px var(--white), 
                0 1px 1px var(--white), 
                0 -1px 1px var(--white);
    margin-right: .8em;
}
#home{
    display: flex; 
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    z-index: 1;
    overflow: hidden;
}
.home-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-top: 15%;
}
.home-img img{
    width: 100%;
    opacity: .2;
    z-index: 1;
}
.home-title{
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    width: 100%;
    z-index: 2;
}
.home-title h1{
    text-align: center;
    font-size: 46px;
    font-weight: 300;
    color: var(--white);
    margin-bottom: .5em;
}
.home-title p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: var(--white);
}
.home-btn{
    display: block;
    width: 180px;
    height: 50px;
    margin: 3em auto;
    border: none;
    border-radius: 10px;
    opacity: 1;
    background-color: var(--white);
}
.home-btn a{
    text-decoration: none;
    color: var(--negro-2);
    font-size: 18px;
    font-weight: 500;
}
.indicador{
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5em;
    opacity: .2;
    animation: arrow 2s ease-in-out infinite;
    z-index: 5;
}
.indicador a{
    color: var(--white);
}
@keyframes arrow{
    0%{
        transform: translate(-50%, -10px);
    }
    50%{
        transform: translate(-50%, 0px);
        opacity: .4;
    }
    100%{
        transform: translate(-50%, -10px);
    }
}
/*Video*/
#video{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 4em;
}
#video video{
    width: 100%;
    height: 100%;
}
/*specifications*/
.group{
    margin-bottom: 4em;
}
.group-content{
    margin: auto;
}
.group img{
    width: 100%;
}
/*Product*/
#product{
    padding: 1em 0;
}
.product-colors{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    margin: 2em 0;
}
.product-box{
    position: relative;
    width: 90%;
    max-width: 300px;
    aspect-ratio: 4 / 4;
    overflow-x: hidden;
    margin: 1em auto;
}
.slider{
    display: flex;
    width: 300%;
    height: 100%;
    margin-left: -100%;
}
.slider-img{
    width: 100%;
    padding: 1em;
}
.slider-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0 5px 15px #000;
}
.arrow-left, .arrow-right{
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
    font-size: 44px;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    border: none;
    color: var(--white);
    background-color: transparent;
}
.arrow-right{
    right: -20%;
    left: auto;
}
.product-360{
    width: 100%;
    margin: 3em 0;
}
.product-360 img{
    width: 100%;
    padding-left: 10px;
}
/*Footer*/
footer{
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 1em;
    gap: 4rem;
    background-color: #151517;
}
.nav-footer{
    width: 100%;
}
.nav-footer-item{
    list-style: none;
    text-align: center;
    margin-bottom: 1.5em;
}
.nav-footer-link, .social-link{
    font-size: 26px;
    text-decoration: none;
    color: var(--white);
}
.logo-footer-container{
    order: -1;
}
.logo-footer-container img{
    width: 100%;
    opacity: .25;
}
.social-bar{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.social-item{
    list-style: none;
    margin-bottom: 1.5em;
}
.social-link i{
    margin-right: 1em;
}
.social-item:last-child i{
    margin-right: 0;
}
@media (min-width: 768px){
    .home-img{
        position: unset;
        transform: translate(0, 0);
        margin-top: 0;
    }
    .home-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }
    .product-360{
        max-width: 500px;
        margin: auto;
        margin-bottom: 3em;
    }
}
@media (min-width: 1024px){
    .logo-container{
        width: 6em;
    }
    .bars-menu{
        display: none;
    }
    nav{
        position: unset;
        top: 0;
        width: auto;
        height: auto;
        background-color: transparent;
        transform: translateX(0);
        transition: transform 0s;
        overflow-x: hidden;
    }
    .nav-bar{
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        margin-right: 4em;
    }
    .showNav{
        transform: translateX(0);
    }
    .nav-bar i{
        display: none;
    }
    .nav-item{
        margin-bottom: 0;
        margin-left: 1em;
    }
    .nav-link{
        font-size: 23px;
        font-weight: 200;
    }
    .nav-item:hover .nav-link{
        color: var(--white-hover);
    }
    .home-img{
        display: flex;
        justify-content: center;
    }
    .home-img img{
        width: 80%;
        opacity: .8;
    }
    .home-btn{
        transition: all .4s;
        cursor: pointer;
    }
    .home-btn:hover{
        background-color: var(--negro-2);
        border: 2px solid var(--white);
        color: var(--white);
    }.home-btn:hover a{
        color: var(--white);
    }
    .group{
        display: flex;
        align-items: center;
    }
    .group img{
        width: 50%;
        padding: 0 2em;
    }
    #second-group .group-content{
        order: 1;
    }
    .product-colors{
        display: flex;
    }
    footer{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        padding: 4em;
    }
    .nav-footer, .logo-footer-container, .redes-footer-container{
        align-self: center;
    }
    .nav-footer{
        order: -1;
    }
    .social-bar, .social-item{
        margin-bottom: 0;
    }
    .social-item:hover .social-link, .nav-footer-item:hover .nav-footer-link{
        color: var(--white-hover);
    }
    video{
        max-height: 90vh;
    }
    .slider-btn{
        cursor: pointer;
    }
    .slider-btn:hover{
        color: var(--white-hover);
    }
}